language: csharp
dist: trusty
sudo: required
mono: none
dotnet: 1.0.1
script:
  - cd ReactioAPI/ReactioAPI/
  - dotnet restore
  - dotnet build
  - cd ../ReactioAPI.Tests/
  - dotnet restore
  - dotnet build
  - dotnet test
  - cd ../ReactioAPI.Tests.EndToEnd/
  - dotnet restore
  - dotnet build
  - dotnet test
