language: csharp
solution: ./ReactioAPI/ReactioAPI.sln
dist: trusty
sudo: required
mono: none
script:
  - cd ReactioAPI/ReactioAPI
  - dotnet restore && npm install
  - dotnet --verbose build -c Release
